@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.image {
  background: url("https://img.huffingtonpost.com/asset/5d7ba124240000c92b796bc0.jpeg?cache=Xl6NBTL1gy&ops=1778_1000")
    no-repeat;
}

.purple {
  background-color: #9d04ff;
}
